<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FMA_TRANSFER.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="dB_ConnectionString_UNITYDB" connectionString="Data Source=172.16.20.5; Initial Catalog=UNITY_DB; User Id=sa; password=sebboy;" providerName="System.Data.SqlClient" />
    <add name="dB_ConnectionString_INTRANET" connectionString="Data Source=172.16.20.5; Initial Catalog=IntranetDB; User Id=sa; password=sebboy;" providerName="System.Data.SqlClient" />
    <add name="dB_ConnectionString_FMADB" connectionString="Data Source=172.16.20.5; Initial Catalog=FMA_DB; User Id=sa; password=sebboy;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <FMA_TRANSFER.Properties.Settings>
      <setting name="IsOrder" serializeAs="String">
        <value>False</value>
      </setting>
    </FMA_TRANSFER.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="DefaultCulture" value="tr-TR" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>